*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#0d0d0d;
    color:white;
}

header{
    background:#111;
    padding:20px;
    text-align:center;
    box-shadow:0 0 15px cyan;
}

header h1{
    color:#00ffff;
    margin-bottom:15px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 12px;
    font-weight:bold;
    transition:0.3s;
}

nav a:hover{
    color:#00ffff;
}

.hero{
    text-align:center;
    padding:80px 20px;
    background:linear-gradient(135deg,#111,#1b1b1b);
}

.hero h2{
    font-size:40px;
    color:#00ffff;
    margin-bottom:15px;
}

.hero p{
    font-size:20px;
    margin-bottom:25px;
}

.btn{
    display:inline-block;
    padding:12px 25px;
    background:#00ffff;
    color:black;
    text-decoration:none;
    border-radius:8px;
    font-weight:bold;
    transition:.3s;
}

.btn:hover{
    background:white;
    transform:scale(1.05);
}

.cards{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:20px;
    padding:50px 20px;
}

.card{
    width:300px;
    background:#1a1a1a;
    padding:20px;
    border-radius:12px;
    box-shadow:0 0 12px cyan;
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.card h3{
    color:#00ffff;
    margin-bottom:10px;
}

footer{
    text-align:center;
    padding:20px;
    background:#111;
    margin-top:30px;
    box-shadow:0 0 15px cyan;
}
input,
textarea{
    width:100%;
    padding:12px;
    border:none;
    border-radius:8px;
    margin-top:8px;
    background:#222;
    color:white;
    outline:none;
}

button{
    border:none;
    cursor:pointer;
}